/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
*{
  font-family: Helvetica;
  text-align: center;
}

header{
  color: rgb(40, 96, 180);
  text-align: center;
  font-size: 28px;
  display: block;
  margin: auto;
  justify-content: center;
}

body{
  background-image: url("images/nba-background.jpg");
  background-size: cover;
  color: rgb(238, 157, 6);
}

footer{
  justify-content: center;
  text-align: center;
}

ul{
  list-style: none;
  text-align: center;
  padding: 4px;
  font-size: 20px;
  font-weight: bolder;
}

form{
  margin-right: 10%;
  margin-left: 10%;
}

#answers, .question, .welcome{
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 20px;
  display: block;
}

#next{
  display: none;
}

.answerList{
  font-weight: bold;
  padding: 2px;
}

.buttons{
  padding-top: 10px;
}

button{
  font-weight: bold;
  background: purple;
  color: gold;
  cursor: crosshair;
  padding: 10px;
}

#finalScore{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.correctAnswer, .incorrectAnswer{
  padding: 10px;
}

.correctAnswer{
  color: greenyellow;
  font-weight: bold;
}

.incorrectAnswer{
  color: red;
  font-weight: bold;
}

@media all and (max-width: 400px){
  header{
    display: flex;
  }

  .welcome{
    padding: 5%;
    margin: 5%;
  }

  form{
    padding: 5%;
    margin: 5%;
  }

  ul{
    padding: 0px;
  }

  button{
    font-size: 10px;
  }
}